################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/getHash/bin/Debug/netcoreapp2.2
